<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto Django{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-gray-800 text-gray-200">

    <div class="container mx-auto px-4 py-8">
        {% block content %}
        {% endblock %}
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>