{% extends 'base.html' %}

{% block content %}
    <h1 class="text-3xl font-bold text-center text-gray-200 mb-8">Lista de Compras</h1>

    <div class="flex justify-center mb-4">
        <button id="toggleFiltros" class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white rounded-md mr-4">Filtros</button>
        <button id="abrirConfiguracoes" class="px-4 py-2 bg-gray-500 hover:bg-gray-700 text-white rounded-md">Configurações</button>
    </div>

    <form method="GET" id="filtroForm" class="mb-4">
        <table class="filter-table w-full hidden" id="opcoesFiltros">
            <tr>
                <td><label for="nome" class="text-gray-200">Nome:</label></td>
                <td><input type="checkbox" name="nome" id="nome" {% if filtros.nome == 'on' %}checked{% endif %}></td>
                <td><label for="email" class="text-gray-200">Email:</label></td>
                <td><input type="checkbox" name="email" id="email" {% if filtros.email == 'on' %}checked{% endif %}></td>
            </tr>
            <tr>
                <td><label for="numero" class="text-gray-200">Número:</label></td>
                <td><input type="checkbox" name="numero" id="numero" {% if filtros.numero == 'on' %}checked{% endif %}></td>
                <td><label for="data_compra" class="text-gray-200">Data da Compra:</label></td>
                <td><input type="checkbox" name="data_compra" id="data_compra" {% if filtros.data_compra == 'on' %}checked{% endif %}></td>
            </tr>
            <tr>
                <td><label for="pacote" class="text-gray-200">Pacote:</label></td>
                <td><input type="checkbox" name="pacote" id="pacote" {% if filtros.pacote == 'on' %}checked{% endif %}></td>
                <td><label for="valor" class="text-gray-200">Valor:</label></td>
                <td><input type="checkbox" name="valor" id="valor" {% if filtros.valor == 'on' %}checked{% endif %}></td>
            </tr>
            <tr>
                <td><label for="taxa_catarse" class="text-gray-200">Taxa Catarse:</label></td>
                <td><input type="checkbox" name="taxa_catarse" id="taxa_catarse" {% if filtros.taxa_catarse == 'on' %}checked{% endif %}></td>
                <td><label for="faturamento" class="text-gray-200">Faturamento:</label></td>
                <td><input type="checkbox" name="faturamento" id="faturamento" {% if filtros.faturamento == 'on' %}checked{% endif %}></td>
            </tr>
        </table>
        <div class="flex justify-center py-2">
            <button type="submit" class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white rounded-md">Filtrar</button>
            <a href="{% url 'download_compras' %}?formato={{ formato }}" id="downloadLink" class="px-4 py-2 bg-green-500 hover:bg-green-700 text-white rounded-md ml-2">Baixar Compras</a>
        </div>
    </form>

    <div class="bg-gray-700 rounded-lg shadow-md overflow-hidden"> 
        <table class="w-full">
            <thead>
                <tr>
                    {% if filtros.nome == 'on' %}<th><div class="py-3 px-6 text-left text-gray-200">Nome</div></th>{% endif %}
                    {% if filtros.email == 'on' %}<th><div class="py-3 px-6 text-left text-gray-200">Email</div></th>{% endif %}
                    {% if filtros.numero == 'on' %}<th><div class="py-3 px-6 text-left text-gray-200">Número</div></th>{% endif %}
                    {% if filtros.data_compra == 'on' %}<th><div class="py-3 px-6 text-left text-gray-200">Data da Compra</div></th>{% endif %}
                    {% if filtros.pacote == 'on' %}<th><div class="py-3 px-6 text-left text-gray-200">Pacote</div></th>{% endif %}
                    {% if filtros.valor == 'on' %}<th><div class="py-3 px-6 text-left text-gray-200">Valor</div></th>{% endif %}
                    {% if filtros.taxa_catarse == 'on' %}<th><div class="py-3 px-6 text-left text-gray-200">Taxa Catarse</div></th>{% endif %}
                    {% if filtros.faturamento == 'on' %}<th><div class="py-3 px-6 text-left text-gray-200">Faturamento</div></th>{% endif %}
                    <th><div class="py-3 px-6 text-left text-gray-200">Ações</div></th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                    <tr class="hover:bg-gray-600">
                        {% if filtros.nome == 'on' %}<td><div class="py-3 px-6 text-left text-gray-200">{{ compra.nome }}</div></td>{% endif %}
                        {% if filtros.email == 'on' %}<td><div class="py-3 px-6 text-left text-gray-200">{{ compra.email }}</div></td>{% endif %}
                        {% if filtros.numero == 'on' %}<td><div class="py-3 px-6 text-left text-gray-200">{{ compra.numero_formatado }}</div></td>{% endif %}
                        {% if filtros.data_compra == 'on' %}<td><div class="py-3 px-6 text-left text-gray-200">{{ compra.data_compra|date:"d/m/Y" }}</div></td>{% endif %}
                        {% if filtros.pacote == 'on' %}<td><div class="py-3 px-6 text-left text-gray-200">{{ compra.pacote }}</div></td>{% endif %}
                        {% if filtros.valor == 'on' %}<td><div class="py-3 px-6 text-left text-gray-200">{{ compra.valor_formatado }}</div></td>{% endif %}
                        {% if filtros.taxa_catarse == 'on' %}<td><div class="py-3 px-6 text-left text-gray-200">{{ compra.taxa_catarse_formatada }}</div></td>{% endif %}
                        {% if filtros.faturamento == 'on' %}<td><div class="py-3 px-6 text-left text-gray-200">{{ compra.faturamento_formatado }}</div></td>{% endif %}
                        <td>
                            <div class="py-3 px-6 text-left">
                                <a href="{% url 'editar_compra' compra.pk %}" class="text-blue-400 hover:text-blue-600 mr-2">Editar</a>
                                <a href="{% url 'deletar_compra' compra.pk %}" class="text-red-400 hover:text-red-600">Deletar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'nova_compra' %}" class="mt-4 block text-center px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white rounded-md transition-all duration-300 ease-in-out transform hover:shadow-lg active:scale-95">Adicionar Nova Compra</a>

    <div id="configuracoesModal" class="hidden fixed inset-0 flex items-center justify-center z-50">
        <div class="modal-container bg-gray-800 text-white rounded-lg shadow-lg p-6">
            <h2 class="text-2xl font-bold mb-4">Configurações de Download</h2>
            <div class="mb-4">
                <label for="formato" class="block text-gray-200 text-sm font-bold mb-2">Formato:</label>
                <select id="formato" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="estruturado">Estruturado (com [], {}, títulos)</option>
                    <option value="simples">Simples (somente informações)</option>
                </select>
            </div>
            <button id="fecharConfiguracoes" class="px-4 py-2 bg-gray-600 hover:bg-gray-800 text-white rounded-md">Fechar</button>
        </div>
    </div>

    <script>
        // Função para salvar os filtros nos cookies
        function salvarFiltros() {
            const checkboxes = document.querySelectorAll('#filtroForm input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                document.cookie = `${checkbox.id}=${checkbox.checked ? 'on' : 'off'}`;
            });
        }

        // Função para aplicar os filtros à tabela
        function aplicarFiltros() {
            const form = document.getElementById('filtroForm');
            form.submit();
        }

        // Salvar os filtros ao alterar as caixas de seleção
        const checkboxes = document.querySelectorAll('#filtroForm input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', salvarFiltros);
        });

        // Aplicar os filtros ao submeter o formulário
        const form = document.getElementById('filtroForm');
        form.addEventListener('submit', aplicarFiltros);
        
        // Código para mostrar/ocultar as opções de filtro
        const botaoFiltros = document.getElementById('toggleFiltros');
        const opcoesFiltros = document.getElementById('opcoesFiltros');

        botaoFiltros.addEventListener('click', () => {
            opcoesFiltros.classList.toggle('hidden');
        });

        // Código para o modal de configurações
        const abrirConfiguracoes = document.getElementById('abrirConfiguracoes');
        const fecharConfiguracoes = document.getElementById('fecharConfiguracoes');
        const configuracoesModal = document.getElementById('configuracoesModal');
        const formatoSelect = document.getElementById('formato');
        const downloadLink = document.getElementById('downloadLink');

        abrirConfiguracoes.addEventListener('click', () => {
            configuracoesModal.classList.remove('hidden');
        });

        fecharConfiguracoes.addEventListener('click', () => {
            configuracoesModal.classList.add('hidden');
        });

        formatoSelect.addEventListener('change', () => {
            downloadLink.href = `{% url 'download_compras' %}?formato=${formatoSelect.value}`;
        });
    </script>
{% endblock %}